.selectedYear {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.selectWrapper {
    width: 200px;

}

.selectLabel {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1rem;
    color: var(--color);
}

.searchText {
    color: var(--color);
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.loadingMoviesListYear {
    text-transform: uppercase;
    color: var(--color);
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    font-size: 21px;
}