.movieBarList {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.movieBarListItem {
    margin-bottom: 10px;
}

.movieBarListItem a {
    color: var(--color);
    font-size: 16px;
    text-decoration: underline;
}